.keeper-wrapper {
  height: 100%;
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  padding-top: 2%;
}

.left-col, .right-col {
  width: 46%
}
.right-col {
  border: 2px white solid;
  padding: 2%;
  height: 100%;
}

.move-ul {
  margin-left: 5%;
  margin-top: 8px;
  margin-bottom: 8px;
  list-style: none;
}

.inner-ul-title {
  margin-left: 2%;
  margin-top: 12px;
  margin-bottom: 5px;
}

.km-menu-item {
  min-width: 250px;
  max-width: 100%;
  height: 25px;
  border: solid 2px white;
  padding: 3%;
  margin-bottom: 2%;
  display: flex;
  align-items: center;
  &:hover {
    border: 2px solid #FFFE99;
    transform: scale(1.02)
  }
}
