.menu-icon {
  position: absolute;
  bottom: 25px;
  left: 25px;
}

.toolbar {
  width: 300px
}

.hero-control, .asset-control {
  border: 2px solid white;
  margin: 3px 8px 0 0;
  padding: 3px 5px
}
